<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quaerat exercitationem saepe magnam similique vitae minus aspernatur? Ut, enim necessitatibus?</p>
</body>
</html>